html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    background-size: cover;
}

.title {
  font-family: cursive;
  font-size: 40px;
  color: green;
  text-shadow: white 2px 2px 5px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.timer {
  display: flex;
  justify-content: center;
  height: 40px;
}

.field {
  background-color: rgba(1, 9, 54, 0.89);
  padding: 0 40px 20px;
  color: rgb(246, 250, 250);
  border-radius: 10px;
}
.field:not(:last-child) {
  margin-right: 5px;
}
.field span {
  display: block;
  text-align: center;
}

.value {
  font-size: 90px;
  font-weight: 900;
}

.label {
  font-size: 20px;
}
